<mat-card class="homeDestaque mat-elevatio-z5">
    <mat-card-title class="title">
        Eventos em destaque 
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        
    </mat-card-subtitle>
</mat-card>

<mat-card class="home mat-elevatio-z5">
    <a routerLink="">
        <img class="logo" src="assets/img/nig.jpg" alt="Nightwish">
    </a>
    <mat-card-title class="title">
        Nightwish
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Sexta, 29 de Janeiro de 2021 - Abertura: 19:00 - Início: 21:00
    </mat-card-subtitle>
</mat-card>

<mat-card class="home mat-elevatio-z5">
    <a routerLink="">
        <img class="logo" src="assets/img/capital.jpg" alt="img capital inicial">
    </a>
    <mat-card-title class="title">
        Capital Inicial
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Sexta, 24 de Julho de 2020 - Abertura: 21:00
    </mat-card-subtitle>
</mat-card>

<mat-card class="home mat-elevatio-z5">
    <a routerLink="">
        <img class="logo" src="assets/img/hj.jpg" alt="img Henrique & Juliano">
    </a>
    <mat-card-title class="title">
        Henrique & Juliano
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Quinta, 26 de Novembro de 2020 - Abertura: 20:00 - Início: 00:00
    </mat-card-subtitle>
</mat-card>
 


<mat-card class="home mat-elevatio-z5">
    <a routerLink="">
        <img class="logo" src="assets/img/lolla.png" alt="Lollapalooza Brasil">
    </a>
    <mat-card-title class="title">
        Lollapalooza Brasil
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Sexta, Sabádo e Domingo 24, 25 e 26 de Julho de 2020 - Abertura: 14:00
    </mat-card-subtitle>
</mat-card>