span strong {
    color: rgb(153, 6, 80);
}

.v-middle {
    vertical-align: middle;
}

.footer {
    position: static;
    bottom: 0;
    height: 22px;
    display: flex;
    justify-content: flex-end;
}

.footer span{
    font-size: 1rem;
    font-weight: 300;
}